@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* Begin Global document Theming */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    margin: 0;
    min-height: 100vh;
}

body {
    font-family: 'Open Sans', arial, sans;
    font-size: 14px;
    line-height: 1.6;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--background-color) !important;
    padding: 30px;
    color: #333
}

/* End Global document Theming */


/* Begin Theming */
:root,
:root.light {
    /* Shared */
    --block-background-color: #e3e2e2;
    --shared-text-color: #000000;
    /* Root HTML*/
    --background-color: #ffffff;
    --border-color: #CCCCCC;
    --text-color: var(--shared-text-color);
    --text-color-href: #588EC1;
    /* Quote Block*/
    --quote-color-thumb: #a6a6a6;
    --quote-color-background: var(--block-background-color);
    --quote-color-text: var(--shared-text-color);
    /* Code Block */
    --code-color-background: var(--block-background-color);
    --code-color-text: #e3116c !important;
    /* Sidebar */
    --sidebar-color-background: var(--block-background-color);
    --sidebar-color-divider: #2B2B2B;
    --sidebar-color-icon: var(--shared-text-color);
    --sidebar-color-text: var(--shared-text-color);
    --sidebar-color-text-expanded: var(--shared-text-color);
    --sidebar-color-btn-hover: #d2f4ea;
    --sidebar-chevron-filter: invert(0%) sepia(0%) saturate(16%) hue-rotate(291deg) brightness(100%) contrast(104%);
    /* Scrollbar */
    --scrollbar-color-thumb: #D0D0D0;
    /* Dropdown */
    --dropdown-background-color: var(--background-color);
    --dropdown-background-hover-color: var(--sidebar-color-btn-hover);
    --dropdown-text-color: var(--sidebar-color-text);
    --dropdown-text-hover-color: var(--sidebar-color-text);
}

    :root.dark {
        /* Shared */
        --block-background-color: #3C3D3E;
        --shared-text-color: #A9B7C6;
        /* Root HTML*/
        --background-color: #2B2B2B;
        --border-color: #515151;
        --text-color: var(--shared-text-color);
        --text-color-href: #588EC1;
        /* Quote Block*/
        --quote-color-thumb: #476387;
        --quote-color-background: var(--block-background-color);
        --quote-color-text: var(--shared-text-color);
        /* Code Block */
        --code-color-background: var(--block-background-color);
        --code-color-text: #CC7832 !important;
        /* Sidebar */
        --sidebar-color-background: var(--block-background-color);
        --sidebar-color-divider: #2B2B2B;
        --sidebar-color-icon: var(--shared-text-color);
        --sidebar-color-text: var(--shared-text-color);
        --sidebar-color-text-expanded: var(--shared-text-color);
        --sidebar-color-btn-hover: #476387;
        --sidebar-chevron-filter: invert(79%) sepia(29%) saturate(158%) hue-rotate(171deg) brightness(90%) contrast(82%);
        /* Scrollbar */
        --scrollbar-color-thumb: #555555;
        /* Dropdown */
        --dropdown-background-color: var(--background-color);
        --dropdown-background-hover-color: var(--sidebar-color-btn-hover);
        --dropdown-text-color: var(--sidebar-color-text);
        --dropdown-text-hover-color: var(--sidebar-color-text);
    }

    :root.sepia {
        /* Shared */
        --block-background-color: #d9a168;
        --shared-text-color: #383838;
        /* Root HTML*/
        --background-color: #f6a77a;
        --border-color: #b68b5e;
        --text-color: var(--shared-text-color);
        --text-color-href: #588EC1;
        /* Quote Block*/
        --quote-color-thumb: #d3630e;
        --quote-color-background: var(--block-background-color);
        --quote-color-text: #563e2a;
        /* Code Block */
        --code-color-background: var(--block-background-color);
        --code-color-text: #563e2a !important;
        /* Sidebar */
        --sidebar-color-background: var(--block-background-color);
        --sidebar-color-divider: #2B2B2B;
        --sidebar-color-icon: var(--shared-text-color);
        --sidebar-color-text: var(--shared-text-color);
        --sidebar-color-text-expanded: var(--shared-text-color);
        --sidebar-color-btn-hover: #c5a079;
        --sidebar-chevron-filter: invert(0%) sepia(0%) saturate(16%) hue-rotate(291deg) brightness(100%) contrast(104%);
        /* Scrollbar */
        --scrollbar-color-thumb: #a86c2f;
        /* Dropdown */
        --dropdown-background-color: var(--background-color);
        --dropdown-background-hover-color: var(--sidebar-color-btn-hover);
        --dropdown-text-color: var(--sidebar-color-text);
        --dropdown-text-hover-color: var(--sidebar-color-text);
    }

@media (prefers-color-scheme: dark) {
    :root {
        /* Shared */
        --block-background-color: #3C3D3E;
        --shared-text-color: #A9B7C6;
        /* Root HTML*/
        --background-color: #2B2B2B;
        --border-color: #515151;
        --text-color: var(--shared-text-color);
        --text-color-href: #588EC1;
        /* Quote Block*/
        --quote-color-thumb: #476387;
        --quote-color-background: var(--block-background-color);
        --quote-color-text: var(--shared-text-color);
        /* Code Block */
        --code-color-background: var(--block-background-color);
        --code-color-text: #CC7832 !important;
        /* Sidebar */
        --sidebar-color-background: var(--block-background-color);
        --sidebar-color-divider: #2B2B2B;
        --sidebar-color-icon: var(--shared-text-color);
        --sidebar-color-text: var(--shared-text-color);
        --sidebar-color-text-expanded: var(--shared-text-color);
        --sidebar-color-btn-hover: #6e6e6e;
        /* Scrollbar */
        --scrollbar-color-thumb: #555555;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        /* Shared */
        --block-background-color: #F8F8F8;
        --shared-text-color: #000000;
        /* Root HTML*/
        --background-color: #ffffff;
        --border-color: #CCCCCC;
        --text-color: var(--shared-text-color);
        --text-color-href: #588EC1;
        /* Quote Block*/
        --quote-color-thumb: #476387;
        --quote-color-background: var(--block-background-color);
        /* Code Block */
        --code-color-background: var(--block-background-color);
        --code-color-text: #e3116c !important;
        /* Sidebar */
        --sidebar-color-background: var(--block-background-color);
        --sidebar-color-divider: #2B2B2B;
        --sidebar-color-icon: var(--shared-text-color);
        --sidebar-color-text: var(--shared-text-color);
        --sidebar-color-text-expanded: var(--shared-text-color);
        --sidebar-color-btn-hover: #d2f4ea;
        /* Scrollbar */
        --scrollbar-color-thumb: #D0D0D0;
    }
}

/* End Theming */

/* Begin Custom CSS */
.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}

.no-icon[aria-expanded=false] .text-expanded {
    display: none;
}

.no-icon[aria-expanded=true] .text-collapsed {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 38px);
    grid-gap: 10px;
}

.grid-item-row-span-2 {
    grid-column: 1 / 3; /* span from grid column line 1 to 3 (i.e., span 2 columns) */
    grid-row: 1 / 1; /* same concept, but for rows */
}

.grid-item {
}

.dropdown-menu {
    background-color: var(--background-color);
    color: var(--text-color);
}

    .dropdown-menu > li > a:hover {
        background-color: var(--dropdown-background-hover-color);
        color: var(--sidebar-color-text);
    }

    .dropdown-menu > * {
        cursor: pointer;
    }

.cst-border {
    background-color: var(--border-color);
    height: 2px;
    width: 100%;
}


/* End Custom CSS

/* Begin Scrollbar Styling */

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color-thumb);
}

/* End Scrollbar Styling */

/* Begin Sidebar Styling */
#section-sidebar {
    background: var(--sidebar-color-background);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 15rem;
    resize: horizontal;
    overflow: auto;
    background: var(--sidebar-color-background);
    z-index: 100;
    /* transition: all 0.5s ease; */

    border-right: var(--sidebar-color-divider);
}

.sidebar .b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.sidebar .border-top .my-3 {
    color: var(--sidebar-color-divider);
    background-color: var(--sidebar-color-divider);
}

.sidebar .bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.sidebar .dropdown-toggle {
    outline: 0;
}

.sidebar .nav-flush .nav-link {
    border-radius: 0;
}

.sidebar .sidenav {
    overflow: visible;
}

.sidebar .btn-sidebar {
    min-width: 100%;
}

.sidebar .btn-toggle-nav {
    padding-left: 1.5em;
}

.sidebar .btn-toggle,
.sidebar .btn-toggle-no-icon {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--sidebar-color-text);
    background-color: transparent;
    border: 0;
}

.sidebar .btn-toggle:hover,
.sidebar .btn-toggle:focus,
.sidebar .btn-toggle-no-icon:focus,
.sidebar .btn-toggle-no-icon:hover {
    color: var(--sidebar-color-text);
    background-color: var(--sidebar-color-btn-hover);
}

.sidebar .btn-toggle-no-icon::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='0' height='0' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.sidebar .btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    filter: var(--sidebar-chevron-filter)
}

.sidebar .btn-toggle[aria-expanded="true"] {
    color: var(--sidebar-color-text-expanded);
}

.sidebar .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.sidebar .btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.sidebar .btn-toggle-nav a:hover,
.sidebar .btn-toggle-nav a:focus {
    background-color: var(--sidebar-color-btn-hover);
}

.sidebar table tr {
    padding-top: 100px;
}

.sidebar li > * {
    color: var(--sidebar-color-text);
}

.sidebar button {
    color: var(--sidebar-color-text);
}

.link-dark {
    cursor: pointer !important;
    font-size: 16px;
}

.sidebar.close ~ .main-section {
    left: 78px;
    width: calc(100% - 78px);
}

/* Begin Home Styling */
.main-section {
    position: relative;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.main-section .main-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.main-section .main-content .bx-menu,
.main-section .main-content .text {
    color: var(--text-color);
    font-size: 35px;
}

.main-section .main-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.main-section .main-content .text {
    font-size: 26px;
    font-weight: 600;
}
/* End Home Styling */

/* Begin Mermaid Styling */
.mermaid {
    background-color: var(--code-color-background);
}
/* End Mermaid Styling*/

/* Begin Markdown Styling*/
body > :first-child {
    margin-top: 0 !important
}

body > :last-child {
    margin-bottom: 0 !important
}

body > .main-markdown h2:first-child {
    margin-top: 0;
    padding-top: 0
}

body > .main-markdown h1:first-child {
    margin-top: 0;
    padding-top: 0
}

body > .main-markdown h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0
}

body > .main-markdown h3:first-child,
body > .main-markdown h4:first-child,
body > .main-markdown h5:first-child,
body > .main-markdown h6:first-child {
    margin-top: 0;
    padding-top: 0
}

.main-markdown input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: #0075FF;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    color: white;
    display: grid;
    place-content: center;
}

.main-markdown input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;
}

.main-markdown input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.main-markdown input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid white;
    outline-offset: max(2px, 0.15em);
}

.main-markdown input[type="checkbox"]:disabled {
    cursor: not-allowed;
}

.main-markdown blockquote p {
    color: var(--quote-color-text);
}

.main-markdown ol {
    color: var(--text-color);
}

.main-markdown ul {
    color: var(--text-color);
    margin-left: 20px;
}

.main-markdown li {
    color: var(--text-color);
}

.main-markdown p {
    color: var(--text-color);
}

.main-markdown a {
    color: var(--text-color);
    text-decoration: none;
}

.main-markdown a:link,
.main-markdown a:visited,
.main-markdown a:active {
    color: var(--text-color-href);
    text-decoration: none;
}

.main-markdown a.absent {
    color: #c00
}

.main-markdown a.anchor {
    display: block;
    padding-left: 30px;
    margin-left: -30px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0
}

.main-markdown h1,
.main-markdown h2,
.main-markdown h3,
.main-markdown h4,
.main-markdown h5,
.main-markdown h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    cursor: text;
    position: relative
}

.main-markdown h1:first-child,
.main-markdown h1:first-child + .main-markdown .main-markdown h2,
.main-markdown h2:first-child,
.main-markdown h3:first-child,
.main-markdown h4:first-child,
.main-markdown h5:first-child,
.main-markdown h6:first-child {
    margin-top: 0;
    padding-top: 0
}

.main-markdown .main-markdown h1:hover a.anchor,
.main-markdown .main-markdown h2:hover a.anchor,
.main-markdown .main-markdown h3:hover a.anchor,
.main-markdown .main-markdown h4:hover a.anchor,
.main-markdown .main-markdown h5:hover a.anchor,
.main-markdown .main-markdown h6:hover a.anchor {
    text-decoration: none
}

.main-markdown h1 code,
.main-markdown h1 tt {
    font-size: inherit
}

.main-markdown h2 code,
.main-markdown h2 tt {
    font-size: inherit
}

.main-markdown h3 code,
.main-markdown h3 tt {
    font-size: inherit
}

.main-markdown h4 code,
.main-markdown h4 tt {
    font-size: inherit
}

.main-markdown h5 code,
.main-markdown h5 tt {
    font-size: inherit
}

.main-markdown h6 code,
.main-markdown h6 tt {
    font-size: inherit
}

.main-markdown h1 {
    font-size: 28px;
    border-bottom: 3px solid var(--border-color);
    color: var(--text-color);
}

.main-markdown h2 {
    font-size: 24px;
    border-bottom: 2px solid var(--border-color);
    color: var(--text-color);
}

.main-markdown h3 {
    color: var(--text-color);
    border-bottom: 1px var(--border-color);
    font-size: 18px;
}

.main-markdown h4 {
    font-size: 16px;
    color: var(--text-color);
}

.main-markdown h5 {
    font-size: 14px;
    color: var(--text-color);
}

.main-markdown h6 {
    color: var(--text-color);
    font-size: 14px;
}

.main-markdown blockquote,
.main-markdown dl,
.main-markdown li,
.main-markdown ol,
.main-markdown p,
.main-markdown pre,
.main-markdown table,
.main-markdown ul {
    margin: 15px 0
}

.main-markdown hr {
    border: 0 none;
    color: #ccc;
    height: 4px;
    padding: 0
}

.main-markdown a:first-child h1,
.main-markdown a:first-child h2,
.main-markdown a:first-child h3,
.main-markdown a:first-child h4,
.main-markdown a:first-child h5,
.main-markdown a:first-child h6 {
    margin-top: 0;
    padding-top: 0
}

.main-markdown h1 p,
.main-markdown h2 p,
.main-markdown h3 p,
.main-markdown h4 p,
.main-markdown h5 p,
.main-markdown h6 p {
    margin-top: 0
}

.main-markdown li p.first {
    display: inline-block
}

.main-markdown ol,
.main-markdown ul {
    padding-left: 30px
}

.main-markdown ol :first-child,
.main-markdown ul :first-child {
    margin-top: 0
}

.main-markdown ol :last-child,
.main-markdown ul :last-child {
    margin-bottom: 0
}

.main-markdown dl {
    padding: 0
}

.main-markdown dl dt {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px
}

.main-markdown dl dt:first-child {
    padding: 0
}

.main-markdown dl dt > :first-child {
    margin-top: 0
}

.main-markdown dl dt > :last-child {
    margin-bottom: 0
}

.main-markdown dd {
    color: var(--text-color);
}

.main-markdown dl dd {
    margin: 0 0 15px;
    padding: 0 15px
}

.main-markdown dl dd > :first-child {
    margin-top: 0
}

.main-markdown dl dd > :last-child {
    margin-bottom: 0
}

.main-markdown blockquote {
    border-left: 2px solid var(--quote-color-thumb);
    padding: 0 15px;
    background-color: var(--quote-color-background);
    color: #777
}

.main-markdown blockquote > :first-child {
    margin-top: 0
}

.main-markdown blockquote > :last-child {
    margin-bottom: 0
}

.main-markdown table {
    border-color: var(--border-color);
    padding: 0;
    border-collapse: collapse
}

.main-markdown table tr {
    border-top: 1px solid var(--border-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.main-markdown table td {
    white-space: nowrap
}

.main-markdown table tr th {
    font-weight: 700;
    border: 1px solid var(--border-color);
    text-align: left;
    margin: 0;
    padding: 6px 13px
}

.main-markdown table tr td {
    border: 1px solid var(--border-color);
    text-align: left;
    margin: 0;
    padding: 6px 13px
}

.main-markdown table tr td :first-child,
.main-markdown table tr th :first-child {
    margin-top: 0
}

.main-markdown table tr td :last-child,
.main-markdown table tr th :last-child {
    margin-bottom: 0
}

.main-markdown img {
    max-width: 100%
}

.main-markdown span.frame {
    display: block;
    overflow: hidden
}

.main-markdown span.frame > span {
    border: 1px solid #ddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto
}

.main-markdown span.frame span img {
    display: block;
    float: left
}

.main-markdown span.frame span span {
    clear: both;
    color: #333;
    display: block;
    padding: 5px 0 0
}

.main-markdown span.align-center {
    display: block;
    overflow: hidden;
    clear: both
}

.main-markdown span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center
}

.main-markdown span.align-center span img {
    margin: 0 auto;
    text-align: center
}

.main-markdown span.align-right {
    display: block;
    overflow: hidden;
    clear: both
}

.main-markdown span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right
}

.main-markdown span.align-right span img {
    margin: 0;
    text-align: right
}

.main-markdown span.float-left {
    display: block;
    margin-right: 13px;
    overflow: hidden;
    float: left
}

.main-markdown span.float-left span {
    margin: 13px 0 0
}

.main-markdown span.float-right {
    display: block;
    margin-left: 13px;
    overflow: hidden;
    float: right
}

.main-markdown span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right
}

.main-markdown code,
.main-markdown tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 0;
    border-radius: 3px
}

.main-markdown pre code {
    background-color: var(--code-color-background);
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: 0 0
}

.highlight pre {
    border: none;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px
}

.main-markdown pre {
    background-color: var(--code-color-background);
    border: none;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
}

.main-markdown pre code,
.main-markdown pre tt {
    background-color: transparent;
    border: none
}
/* End Markdown Styling */

/* Begin Syntax Highlighting */
pre :not(code[class*="language-"]) {
    color: var(--text-color);
    background-color: var(--code-color-background) !important
}

code[class*="language-"],
pre[class*="language-"] {
    color: var(--text-color);
    background-color: var(--code-color-background);
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 0.95em;
    line-height: 1.2em;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

code {
    font-size: 87.5%;
    /* color: #000fdb; */
    word-break: break-word;
    background-color: var(--code-color-background);
    color: var(--code-color-text);
}

:not(pre) > code[class*='language-'] {
    /*...*/
    color: var(--text-color);
    white-space: normal;
    background-color: var(--code-color-background) !important;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background-color: var(--code-color-background);
    color: var(--text-color);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background-color: var(--code-color-background);
    color: var(--text-color);
}
/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    color: var(--text-color);
    margin: .5em 0;
    overflow: auto;
    color: var(--text-color);
    background-color: var(--code-color-background);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    color: var(--text-color);
    background-color: var(--code-color-background);
}
/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .2em;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: var(--code-color-background);
    border: none;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #0c970c;
    font-style: italic;
}

.token.namespace {
    opacity: .7;
    color: #CC7832;
}

.token,
.token.string,
.token.attr-value {
    color: var(--code-color-text) !important;
}

.token.punctuation,
.token.operator {
    color: var(--text-color); /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
    color: #CC7832;
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
    color: #CC7832;
}

.token.important,
.token.function,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}
/* End Syntax Highlighting */

@media print
{    
    .main-section {
        left: 0 !important;
    }
    #section-sidebar
    {
        display: none !important;
    }
}

